<!DOCTYPE html>
<html>
<head>
  <title>RelGram</title>
  <%= stylesheet_link_tag    "rel_gram/application", media: "all" %>
  <%= javascript_include_tag "rel_gram/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
